In [61]:
import pandas as pd
import re
import string
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [31]:
df_fake = pd.read_csv('Fake.csv')
df_true = pd.read_csv('True.csv')

In [32]:
# df_fake = df_fake['text']
# df_true = df_true['text']

In [33]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [34]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [35]:
# Give the them a column class as a target feature

df_fake["class"] = 0
df_true["class"] = 1

In [36]:
df_fake_test = df_fake.tail(10)
df_true_test = df_true.tail(10)

In [37]:
# We make the two df frames equal length
df_fake = df_fake[:21390]
df_true = df_true[:21390]

In [38]:
df_fake.shape, df_true.shape

((21390, 5), (21390, 5))

In [46]:
df_testing = pd.concat([df_fake_test, df_true_test], axis=0)
df_testing

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [47]:
df_merged = pd.concat([df_fake, df_true], axis=0)
df_merged

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21385,Venezuela ex-prosecutor says she has evidence ...,BRASILIA/CARACAS (Reuters) - Dismissed Venezue...,worldnews,"August 23, 2017",1
21386,Netanyahu to Putin: Israel may act to curb Ira...,"SOCHI, Russia (Reuters) - Israeli Prime Minist...",worldnews,"August 23, 2017",1
21387,Former Libyan prime minister freed after abduc...,TRIPOLI (Reuters) - Former Libyan Prime Minist...,worldnews,"August 23, 2017",1
21388,Britain outlines plans to break free of Europe...,LONDON (Reuters) - Britain on Wednesday outlin...,worldnews,"August 22, 2017",1
21389,"Trump must be respected as U.S. president, say...",BERLIN (Reuters) - Chancellor Angela Merkel sa...,worldnews,"August 23, 2017",1

In [48]:
df = df_merged.drop(["title", "subject","date"], axis = 1)

In [50]:
df = df.sample(frac = 1)

In [52]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [53]:
df

                                                    text  class
0       (Corrects Corker quote in paragraph 4 of Aug....      1
1      Donald Trump had a prime opportunity to take a...      0
2      Government waste and abuse runs rampant but th...      0
3      WASHINGTON (Reuters) - Donald Trump’s campaign...      1
4      Liberal hack Mika Brzezinski made a ridiculous...      0
...                                                  ...    ...
42775  MOSCOW (Reuters) - Russia s foreign ministry h...      1
42776  Donald Trump is making a lot of money thanks t...      0
42777  Not a day goes by that we have another gaffe f...      0
42778  BRUSSELS (Reuters) - Belgium has received prop...      1
42779  WASHINGTON (Reuters) - The House of Representa...      1

[42780 rows x 2 columns]

In [57]:
# We make a funktion to clean sumpbols and unnecesary text
 
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [58]:
df["text"] = df["text"].apply(wordopt)

In [59]:
df

                                                    text  class
0        corrects corker quote in paragraph  of aug  ...      1
1      donald trump had a prime opportunity to take a...      0
2      government waste and abuse runs rampant but th...      0
3      washington  reuters    donald trump s campaign...      1
4      liberal hack mika brzezinski made a ridiculous...      0
...                                                  ...    ...
42775  moscow  reuters    russia s foreign ministry h...      1
42776  donald trump is making a lot of money thanks t...      0
42777  not a day goes by that we have another gaffe f...      0
42778  brussels  reuters    belgium has received prop...      1
42779  washington  reuters    the house of representa...      1

[42780 rows x 2 columns]

In [60]:
# Now we will define our depandent and independent variable

x = df["text"]
y = df["class"]

In [62]:
 # we split the text up in training and test ---  25% is test data 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [64]:
# now we convert the data text into a vectors 

from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [65]:
# First we will use Logistic Regression 

from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [66]:
pred_lr=LR.predict(xv_test)

In [67]:
LR.score(xv_test, y_test)

0.9841047218326321

In [68]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.98      5320
           1       0.98      0.99      0.98      5375

    accuracy                           0.98     10695
   macro avg       0.98      0.98      0.98     10695
weighted avg       0.98      0.98      0.98     10695

In [69]:
# Decision Tree Classification

from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [70]:
pred_dt = DT.predict(xv_test)

In [71]:
DT.score(xv_test, y_test)

0.9946704067321178

In [72]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      5320
           1       1.00      0.99      0.99      5375

    accuracy                           0.99     10695
   macro avg       0.99      0.99      0.99     10695
weighted avg       0.99      0.99      0.99     10695

In [73]:
# Gradient Boosting Classifier

from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [74]:
pred_gbc = GBC.predict(xv_test)